@import '../../scss/mixins';
@import '../../scss/variables';

.__auth-callback-container{
    width: 100%;
    height: 100%;
    background-color: $color-background;
    display: flex;
    justify-content: center;
    align-items: center;
    .__auth-callback-wrapper{
        width: 1000px;
        margin: auto;

        h1{  
            color: $color-primary-blue;
            font-weight: 800;
            font-size : 7rem;
        }
        .__auth-callback-title{
            font-weight: 100;
            font-size: 3rem;
            color : $color-black;
            margin-top: $spacing-wide;
            // line-height: 8rem;
        }
        .__auth-callback-text{
            font-weight: 100;
            font-size: 1.5rem;
            margin-top: $spacing-wide;
            b{
                font-weight: 400;
                color : $color-primary-blue;
            }
        }
    }
}