@import '../../../scss/mixins';
@import '../../../scss/variables';

.__container__{
    width: $desktop-width;
    height: 100%;
    margin-top : 60px;
    box-sizing: border-box;
    &:after{
        display:block;
        content:"";
        clear:both
    }
    
}
.search-bar{
    width: 100%;
    height: $navbar-height;
    background-color: $color-white;
    margin: 0 130px;
    display: flex;
    .search-button-img{
        background-image: '../../../public/logo192.png';
        width: $spacing-narrow;
        height: $spacing-wide;
        outline: 0; 
    }
    .search-bar-input{
        font-size: $font-header;
        border-top: none;
        border-right: none; 
        border-left: none; 
        width: 70%;
        outline: 0; 
    }
}

.wrap-search-button-bar{
    display: flex;
    margin: 0 130px;
    height: $navbar-height;
    background-color: $color-white;
    display: flex;

    .search-but-news{
        background-color: $color-white;
        border:none;
        font-size:$font-regular;
        margin-right: 50px;
        font-weight: bold;
        outline: 0; 
        &:hover{
            color: $color-primary-blue;
            outline: 0; 
            font-weight: bold;
        }
    }
    .search-but-post{
        background-color: $color-white;
        border: none;
        font-size:$font-regular;
        font-weight: bold;
        outline: 0; 
        &:hover{
            color: $color-primary-blue;
            outline: 0;  
            font-weight: bold;
        }
    }
}
.search-container{
    width: $desktop-width;
    margin: 0 130px;
    background-color: #FAFAFA;
    width: 100%;
.search-card{
    width: 80%;
    margin: 0 auto;
    background-color: $color-white;
    .news-title{
        font-size: $font-header;
    }
    .news-content{
        font-size: $font-regular;

    }
    .news-time{
        font-size: $font-smallest;
    }
}
}
