@import '../../../scss/mixins';
@import '../../../scss/variables';
.__user-info-container{
    
    width: $desktop-width;
    margin-top : $navbar-height;
    margin-left : 20vw;
    margin-right : 20vw;
    
}