@import '../../scss/mixins';
@import '../../scss/variables';
.__user-info-container{

    margin-top : $navbar-height;
    margin-left : 20vw;
    margin-right : 20vw;
    
}
.__user-link{
    text-decoration: none;
    color: $color-black;
}
.info-header-container{
    width: 100%;
    padding: 1.5vw 1.5vw 0 1.5vw;
    .info-header-content{
        display: flex;
        align-items: center;
        .info-header-profile{
            width: 6vw;
            height: 6vw;
        }
        .info-header-text{
            padding: $spacing-narrow;
            .info-header-name {
                font-size: 1.7em;
                margin-bottom: 3vh;
            }
            .info-header-small {
                display: flex;
                justify-content: space-evenly;
                font-size: 0.8em;
                color:$color-black-sub;
            }
        }
    }
}
.__user-navbar{
    margin-bottom: 4vh;
    margin-top: 0!important;
}