@import '../../scss/mixins';
@import '../../scss/variables';
.__user-info-container{

    width: 1280px;
    margin: 0 auto;
    margin-top : $navbar-height;
    
}
.__user-link{
    text-decoration: none;
    color: $color-black;
}
.info-header-container{
    width: 100%;
    padding: 23px 23px 0 23px;
    .info-header-content{
        display: flex;
        align-items: center;
        .info-header-profile{
            width: 90px;
            height: 90px;
        }
        .info-header-text{
            padding: $spacing-narrow;
            .info-header-name {
                font-size: 1.7em;
                margin-bottom: 15px;
            }
            .info-header-small {
                display: flex;
                justify-content: flex-start;
                font-size: 0.8em;
                color:$color-black-sub;
                p:not(:last-child){
                    margin-right: 10px;
                }
            }

            .info-header-btn{
                font-size: .7rem;
                background-color: $color-primary-blue;
                color: $color-white;
                border: 0;
                border-radius: 5px;
                width: 90px;
                height: 25px;
                margin-top: 5px;
                @include common-box-shadow;
                outline: none;
                &.follow{
                    background-color: $color-primary-blue;
                    color: $color-white;
                }
                &.unfollow{
                    background-color: $color-warning;
                    color : $color-black;
                }
            }
        }
    }
}
.profile-container{
      position: relative;
      border-radius: 50%;  
      overflow: hidden; 
      width: 90px;
      height: 90px;   
      &:hover .profile-layer{
        position: absolute;
        display: flex;
        justify-content: center;
        top: 55px;
        width: 100%;
        height: 100%;
        font-size: 0.9em;
        background-color: #494848cf;
        color: white;
        transition: 0.4s;
    
      }
}
.__user-navbar{
    margin-bottom: 29px;
    margin-top: 0!important;
}