.user-scrap-container{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
.Scrap-news-card{

    height: 4vh;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}