@import '../../../scss/variables';

.user-scrap-container{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.Scrap-news-card{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;

    .Scrap-news-card-title{
        margin : $spacing-narrow;
        font-size: 1.1rem;
    }
}